<div class="landing-page">
    <div class="background-image"></div>
    <div class="heading">
        <h1>Welcome to RaqtDan BloodBank</h1>
        <p>Powered by <strong>HashedIn</strong></p>
    </div>
    <div class="role-selection-card">
      <h2>Choose Your Role</h2>
      <div class="roles">
        <button (click)="selectRole('Staff')">BB Staff</button>
        <button (click)="selectRole('Donor')">Donor</button>
        <button (click)="selectRole('Hospitals')">Hospitals</button>
      </div>
    </div>
  </div>
